<!DOCTYPE html>
	<html>
		<head>
			<meta charset="utf-8" />
			<title>Node_js todo list service using socket.io</title>
	</head>
	 
		<body>
			<form method="post" action="/">
				<textarea name="mail" autofocus></textarea>
				<button type="submit" name="login" title="Login">Login</button>
			</form>
		</body>
	</html>